.row{
    position: absolute;
    padding: 10px;
    margin-top: 240px;
    margin-right: 80px;
    margin-left: 23px;
    height: 500px;
    
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    flex-wrap: wrap;

}




