.product-card{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 20px;
    gap: 10px;
    order: 8;
    
    
}

.card-1{

   
    width: 19rem;
    
}

.pic{
    width: 300px;
    height: 180px;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 10px;
    padding: 3px;
    
}